.footer {
    background: $primary;
    color: $solidWhite;
    padding: 90px 0 50px 0;

    .footerFlex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;

        h4 {
            color: $solidWhite;
        }
    }

    .footerNav {
        width: 40%;
        display: flex;
        justify-content: space-between;

        ul { width: 33%;}

        a {
            color: rgba($color: $solidWhite, $alpha: 0.5);
            font-size: 0.8rem;
            line-height: 1.5rem;

            &:hover,
            &:focus {
                color: rgba($color: $solidWhite, $alpha: 1);
            }
        }
    }
}