header {
    background-color: $tertiary;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .headerImgContainer {
        width: 45%;
    }

    .headerContent {
        width: 55%;
        color: $primary;

        .contentContainer {
            margin: 0 auto;
            width: 65%;
        }
    }
}

// CONTACT PAGE HEADER
.contactHeader {
    background: $quaternary;
    padding-top: 120px;
    text-align: center;
    .wrapper {
        padding-bottom: 40px;
    }

    // WAVE DESIGN
    &::after {
        content: "";
        width: 100%;
        height: 150px;
        background: url(../assets/wave.svg);
        background-repeat: no-repeat;
        background-size: 100% 150px;
    }
}