// JAKARTA SANS REGULAR
@font-face {
    font-family: "Jakarta Sans";
    font-weight: normal;
    src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff),
        url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2),
        url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf);
}

// JAKARTA SANS BOLD
@font-face {
    font-family: "Jakarta Sans";
    font-weight: bold;
    src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff),
        url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2),
        url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf);
}

// YOUNG SERIF
@font-face {
    font-family: "Young Serif";
    src: url(../fonts/youngserif/YoungSerif-Regular.otf);
}